* {
    background-color: teal;
    font-family: Georgia, sans-serif;
}
h1 {
    text-align: center;
    color: burlywood;
    font-size: 40px;
    font-weight: 400;
}
.recipe-list{
    color: burlywood;
    font-size: 20px;
    font-weight: 100;
}

